.button-navbar {
background-color: #F60;
border: 1px solid #E15A00 !important ;
border-radius: 0px !important;
font-size: 1.5em !important;
font-weight: bold !important;
color: white !important;
};

.button-navbar:focus,
.button-navbar.focus {
  color: #ffffff;
  background-color: #ff8c41;
  border-color: #ff8c41;
}
.button-navbar:hover {
  color: #ffffff;
  background-color: #ff8c41;
  border-color: #ff8c41;
}